<!DOCTYPE html>
<html>
<head>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">

<link href="views/w3schools.css" rel="stylesheet" type="text/css" />
<link href="views/w3_theme_cyan.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-navbar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
  
     
.mynetwork {
      width: 100vw;
      height: 100vh;
      border: 10px solid lightgray;
      vertical-align: bottom;
}

.legend { list-style: none; }
.legend li { float: left; margin-right: 10px; }
.legend span { border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 2px; }
/* your colors */
.legend .passion { background-color: #FF8000; }
.legend .skill { background-color: #6666FF; }
.legend .subject { background-color: #FFFF66; }
.legend .user { background-color: #000000; }
</style>

<!-- Imports -->
<script type="text/javascript" src="../lib/vis-4.16.1/vis.js"></script>
 <link href="../lib/vis-4.16.1/vis.css" rel="stylesheet" type="text/css" />
  
<script src="../source/utils.js"></script>
<script src="../source/model/skill_network.js"></script>
<script src="../source/graph/graph_creator.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script>
$(document).ready(function(){
	
	$.get("/userInfo", function(data, status){
		var user_info = data
		user_name = user_info.name
		current_user_id = data.user_id
        console.log('Data read on page: ' + user_name + ' ' + current_user_id);
		$("#greetings-id").text('Olá ' + user_name)
	    network = new SkillNetwork('Passions and Skills Diagram');
	    loadNetwork(network);
    });
});
</script>

</head>
<body>

<!-- Edit Person Modal -->
<div id="edit_person" class="w3-modal">
    <div class="w3-modal-content w3-card-8 w3-animate-top" style="max-width:400px">
        <header class="w3-container w3-theme-l1">
        <span id="cancel-person-changes-id" onclick="document.getElementById('edit_person').style.display='none'" class="w3-closebtn">×</span>
        </header>
      
        <div class="w3-group">
          <label class="w3-label w3-text-black" for="edit-name-id"><b>Nome</b></label>
          <input class="w3-input w3-border w3-hover-border-cyan" id="edit-name-id" type="text" value="">
        </div>
        <div class="w3-group">
          <label class="w3-label w3-text-black" for="edit-skills-id"><b>Conhecimentos</b></label>
          <div class="w3-row-padding">
            <div class="w3-half">
                <input class="w3-input w3-border w3-hover-border-cyan" id="edit-skills-id-0" type="text" value="" placeholder="1">
            </div>
			<div class="w3-half">
			    <input class="w3-input w3-border w3-hover-border-cyan" id="edit-skills-id-1" type="text" value="" placeholder="2">
			</div>
            <div class="w3-half">
                <input class="w3-input w3-border w3-hover-border-cyan" id="edit-skills-id-2" type="text" value="" placeholder="3">
            </div>
			<div class="w3-half">
			    <input class="w3-input w3-border w3-hover-border-cyan" id="edit-skills-id-3" type="text" value="" placeholder="4">
			</div>
		  </div>
        </div> 
        <div class="w3-group">
          <label class="w3-label w3-text-black" for="edit-passions-id"><b>Paixões</b></label>
          <div class="w3-row-padding">
            <div class="w3-half">
                <input class="w3-input w3-border w3-hover-border-cyan" id="edit-passions-id-0" type="text" value="" placeholder="1">
            </div>
            <div class="w3-half">
                <input class="w3-input w3-border w3-hover-border-cyan" id="edit-passions-id-1" type="text" value="" placeholder="2">
            </div>
            <div class="w3-half">
                <input class="w3-input w3-border w3-hover-border-cyan" id="edit-passions-id-2" type="text" value="" placeholder="3">
            </div>
            <div class="w3-half">
                <input class="w3-input w3-border w3-hover-border-cyan" id="edit-passions-id-3" type="text" value="" placeholder="4">
            </div>
          </div>
          
        </div>
        <footer class="w3-container w3-theme-l1 w3-right-align">
            <button id="confirm-person-changes-id" onclick="confirmNodeEdit(network);">Salvar</button>
            
        </footer> 
    </div>
</div>

<!-- Edit Interaction Menu -->
<div id="edit_interaction" class="w3-modal">
    <div class="w3-modal-content w3-card-8 w3-animate-top" style="max-width:400px">
        <header class="w3-container w3-theme-l1">
            <h4>Registrar Interação</h4>
        </header>
      
        <div class="w3-group">
          <label class="w3-label w3-text-black" for="add-inter-person-id"><b>Pessoa</b></label>
          <input class="w3-input w3-border w3-hover-border-cyan" id="add-inter-person-id" type="text" value="" readonly>
        </div>
        <div class="w3-group">
          <label class="w3-label w3-text-black" for="add-inter-skill-id"><b>Interesse</b></label>
          <input class="w3-input w3-border w3-hover-border-cyan" id="add-inter-skill-id" type="text" value="" readonly>
        </div>
        <div class="w3-group">
          <label class="w3-label w3-text-black" for="add-inter-date-id"><b>Data</b></label>
          <input class="w3-input w3-border w3-hover-border-cyan" id="add-inter-date-id" type="date" value="">
        </div> 
        <div class="w3-group">
          <label class="w3-label w3-text-black" for="add-inter-description-id"><b>Descrição</b></label>
          <input class="w3-input w3-border w3-hover-border-cyan" id="add-inter-description-id" type="text" value="">
        </div>
        <div class="w3-group">
        </div>
        <footer class="w3-container w3-theme-l1 w3-right-align">
            <button id="confirm-inter-changes-id" onclick="confirmAddInteraction(network);">Salvar</button>
            <button id="cancel-inter-changes-id" onclick="document.getElementById('edit_interaction').style.display='none'">Cancelar</button>
        </footer> 
    </div>
</div>

<!-- Show Help Card -->
<div id="show_help" class="w3-modal">
    <div class="w3-modal-content w3-card-8 w3-animate-top" style="max-width:600px">
        <header class="w3-container w3-theme-l1">
        <span id="close-help-id" onclick="document.getElementById('show_help').style.display='none'" class="w3-closebtn">×</span>
            <h4>Ajuda</h4>
        </header>
    
		    <div class="legend">
		        
			    <li><span class="user"></span> Usuário</li><br>
			    <li><span class="subject"></span> Tópico</li><br>
			<br>
		    </div>
		    <li> Ligações (linhas):</li>
			<ul class="legend">
			    <li><span class="passion"></span> Paixão</li><br>
			    <li><span class="skill"></span> Conhecimento</li><br>
		    </ul>
		    <li> Ações:</li>
			<ul>
			    <li> Para inserir ou alterar suas informações: Clique sobre o seu nome.</li><br>
			    <li> Para registrar uma interação: Clique sobre uma paixão ou interesse.</li><br>
			</ul>
    </div>
</div>

	<!-- Navbar -->
	<ul class="w3-navbar w3-cyan w3-card-2 w3-top w3-left-align w3-large">
	  <li class="w3-hide-medium w3-hide-large w3-opennav w3-right">
	    <a class="w3-padding-large w3-hover-white w3-large w3-cyan" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
	  </li>
	  <li class="w3-navitem w3-right w3-hover-white" onclick="document.getElementById('show_help').style.display='block'">Ajuda</li>
	  <li id=greetings-id class="w3-navitem w3-right">Olá</li>

	  <li class="w3-hide-small"><a href="/skilltrackNetwork" class="w3-padding-large w3-white">Mapa</a></li>
	  <li class="w3-hide-small"><a href="/showUpdateProfile" class="w3-padding-large w3-hover-white">Alterar Conta</a></li>
	  <li class="w3-hide-small"><a href="/logout" class="w3-padding-large w3-hover-white">Sair</a></li>
	</ul>
	
	<!-- Navbar on small screens -->
	<div id="navDemo" class="w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:51px">
	  <ul class="w3-navbar w3-left-align w3-large w3-black">
	    <li><a class="w3-padding-large" href="/skilltrackNetwork" class="w3-padding-large w3-hover-white">Mapa</a></li>
	    <li><a class="w3-padding-large" href="/showUpdateProfile" class="w3-padding-large w3-hover-white">Alterar Conta</a></li>
	    <li><a class="w3-padding-large" href="/logout" class="w3-padding-large w3-hover-white">Sair</a></li>
	  </ul>
	</div>
	
	<div id="mynetwork" class=mynetwork></div>
<script type="text/javascript">

console.log('Starting Javascrit Section');

var network;
var graph; 
var current_user_id;
var user_name;
var max_number_of_interests=4

//Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
 var x = document.getElementById("navDemo");
 if (x.className.indexOf("w3-show") == -1) {
     x.className += " w3-show";
 } else {
     x.className = x.className.replace(" w3-show", "");
 }
}
</script>
</body>
</html>


